*{
    box-sizing: border-box;
}
.spotify-playlist .list .item2{
    position: relative;
    color: rgb(84, 202, 126);
    width: 100%;
    height: 350px;
    padding: 15px;
    background-image: url('images/jhoome.jpg');
    background-size: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid blanchedalmond;
   
}
.spotify-playlist .list .item2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.spotify-playlist .list .item2 span{
    font-weight: bolder;
    color: #47cf90;

text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
    position: absolute;
    bottom: 0;
    right: 100px;
}
.spotify-playlist .list{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.spotify-playlist .list .item2 .img{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 20px;
}
.spotify-playlist .list .item2 .img img{
    margin:0 4px ;
}

.spotify-playlist .list .item3{
    width: 100%;
    border: 1px solid blanchedalmond;
    padding: 6px;
}
.item3{
    position: relative;
}

.item3 .left{
    display: flex;
    margin-top: 12px;
    margin-left: 12px;
}

.item3 .left .span{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-left: 3px;

text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

.item3 .right{
    float: right;
    cursor: pointer;
}